<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <style>
      .left-side {
        float: left;
        width: 10%; /* Hoặc bất kỳ giá trị nào phù hợp với thiết kế của bạn */
      }
      .footer {
        position: fixed; /* Hoặc 'absolute' nếu bạn muốn nó di chuyển cùng với việc cuộn trang */
        bottom: 0;
        width: 100%;
        background-color: #333; /* Màu nền của footer */
        color: white; /* Màu chữ */
        text-align: center;
      }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video</title>
  </head>
  <body>
    <br />
    <br />
    <div class="left-side">
      <div>
        <script type="text/javascript">
          atOptions = {
            key: "f6fceae3f6a594fafc82c6b77d4c6dad",
            format: "iframe",
            height: 300,
            width: 160,
            params: {},
          };
        </script>
        <script
          type="text/javascript"
          src="//midgerelativelyhoax.com/f6fceae3f6a594fafc82c6b77d4c6dad/invoke.js"
        ></script>
        <script type="text/javascript">
          atOptions = {
            key: "f6fceae3f6a594fafc82c6b77d4c6dad",
            format: "iframe",
            height: 300,
            width: 160,
            params: {},
          };
        </script>
        <script
          type="text/javascript"
          src="//midgerelativelyhoax.com/f6fceae3f6a594fafc82c6b77d4c6dad/invoke.js"
        ></script>
        <script type="text/javascript">
          atOptions = {
            key: "f6fceae3f6a594fafc82c6b77d4c6dad",
            format: "iframe",
            height: 300,
            width: 160,
            params: {},
          };
        </script>
        <script
          type="text/javascript"
          src="//midgerelativelyhoax.com/f6fceae3f6a594fafc82c6b77d4c6dad/invoke.js"
        ></script>
        <script type="text/javascript">
          atOptions = {
            key: "f6fceae3f6a594fafc82c6b77d4c6dad",
            format: "iframe",
            height: 300,
            width: 160,
            params: {},
          };
        </script>
        <script
          type="text/javascript"
          src="//midgerelativelyhoax.com/f6fceae3f6a594fafc82c6b77d4c6dad/invoke.js"
        ></script>
        <script type="text/javascript">
          atOptions = {
            key: "f6fceae3f6a594fafc82c6b77d4c6dad",
            format: "iframe",
            height: 300,
            width: 160,
            params: {},
          };
        </script>
        <script
          type="text/javascript"
          src="//midgerelativelyhoax.com/f6fceae3f6a594fafc82c6b77d4c6dad/invoke.js"
        ></script>
        <script type="text/javascript">
          atOptions = {
            key: "f6fceae3f6a594fafc82c6b77d4c6dad",
            format: "iframe",
            height: 300,
            width: 160,
            params: {},
          };
        </script>
        <script
          type="text/javascript"
          src="//midgerelativelyhoax.com/f6fceae3f6a594fafc82c6b77d4c6dad/invoke.js"
        ></script>
        <script type="text/javascript">
          atOptions = {
            key: "f6fceae3f6a594fafc82c6b77d4c6dad",
            format: "iframe",
            height: 300,
            width: 160,
            params: {},
          };
        </script>
        <script
          type="text/javascript"
          src="//midgerelativelyhoax.com/f6fceae3f6a594fafc82c6b77d4c6dad/invoke.js"
        ></script>
      </div>
      <br />
    </div>
  </body>
</html>
