{% extends 'app/index.html' %} {% load static %} {% block video_content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phần 3 video sex</title>
  </head>
  <body>
    <div style="display: flex; justify-content: center">
      <div>
        <div class="card">
          <a
            href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
            ><img
              class="card-img-top"
              height="193"
              width="144"
              src="https://xx.javvn.org/thumb/426x240/upload/2023/10/4cfda9a7b0d3637cd25898b8325ce21e.jpeg"
              alt="Error1"
              id="imgxemm"
          /></a>
          <div class="card-body">
            <h5 class="card-title">
              Em gái thích địt nhau với ông chú hàng xóm có gia đình đúng phê
              luôn
            </h5>
            <p class="card-text">xem nhanh chứ xoá giờ tinhyeu.shop</p>
            <a
              class="btn btn-primary"
              href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
              id="new1"
              >Xem</a
            >
          </div>
        </div>

        <div class="card">
          <a
            href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
            ><img
              class="card-img-top"
              height="193"
              width="144"
              src="https://xx.javvn.org/thumb/426x240/upload/2023/10/42ca05190a67d8837e6dfcab54cdbac7.jpeg"
              alt="Error1"
              id="imgxemm"
          /></a>
          <div class="card-body">
            <h5 class="card-title">Phang mạnh em gái mặc quần tất cực cute</h5>
            <p class="card-text">xem nhanh chứ xoá giờ tinhyeu.shop</p>
            <a
              class="btn btn-primary"
              href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
              id="new2"
              >Xem</a
            >
          </div>

          <div class="card">
            <a
              href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
              ><img
                class="card-img-top"
                src="https://xx.javvn.org/thumb/426x240/upload/2023/10/a2f224d4e82a86541ddea34b5ebc0c22.jpeg"
                alt="Error1"
                id="imgxemm"
                height="193"
                width="144"
            /></a>
            <div class="card-body">
              <h5 class="card-title">
                Em ấy cứ thích bú làm anh nứng quá anh đụ nát bướm em rồi
              </h5>
              <p class="card-text">xem nhanh chứ xoá giờ tinhyeu.shop</p>
              <a
                class="btn btn-primary"
                href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
                id="new3"
                >Xem</a
              >
            </div>

            <div class="card">
              <a
                href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
                ><img
                  class="card-img-top"
                  src="https://xx.javvn.org/thumb/426x240/upload/2023/10/2b35913e6520db5dcbcdb6c09d9db74e.jpeg"
                  alt="Error1"
                  id="imgxemm"
                  height="193"
                  width="144"
              /></a>
              <div class="card-body">
                <h5 class="card-title">
                  Màn móc lồn bắn nước dâm thuỷ của tiktok cơ cực phê
                </h5>
                <p class="card-text">xem nhanh chứ xoá giờ tinhyeu.shop</p>
                <a
                  class="btn btn-primary"
                  href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
                  id="new4"
                  >Xem</a
                >
              </div>
              <div class="card">
                <a
                  href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
                  ><img
                    class="card-img-top"
                    src="https://xx.javvn.org/thumb/426x240/upload/2023/10/258082e3321557a744c6aab22c3e9386.jpeg"
                    alt="Error1"
                    id="imgxemm"
                    height="193"
                    width="144"
                /></a>
                <div class="card-body">
                  <h5 class="card-title">
                    Rủ em tình nhân ra bụi chuối đóng gạnh phê quá đi
                  </h5>
                  <p class="card-text">xem nhanh chứ xoá giờ tinhyeu.shop</p>
                  <a
                    class="btn btn-primary"
                    href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
                    id="new5"
                    >Xem</a
                  >
                </div>
                <div class="card">
                  <a
                    href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
                    ><img
                      class="card-img-top"
                      src="https://xx.javvn.org/thumb/426x240/upload/2023/10/5fe957a01cf1983f606fa51ad2198ee3.jpeg"
                      alt="Error1"
                      id="imgxemm"
                      height="193"
                      width="144"
                  /></a>
                  <div class="card-body">
                    <h5 class="card-title">
                      Em học sinh cấp 3 bưởi to lồn khít rịt luônm
                    </h5>
                    <p class="card-text">xem nhanh chứ xoá giờ tinhyeu.shop</p>
                    <a
                      class="btn btn-primary"
                      href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
                      id="new6"
                      >Xem</a
                    >
                  </div>
                  <div class="card">
                    <a
                      href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
                      ><img
                        class="card-img-top"
                        src="https://xx.javvn.org/thumb/426x240/upload/2023/10/d779332d26db7fe3a916c5409f76b207.jpeg"
                        alt="Error1"
                        id="imgxemm"
                        height="193"
                        width="144"
                    /></a>
                    <div class="card-body">
                      <h5 class="card-title">
                        Em gái vú mướp nhưng đjt nhau cực kì dâm và pheeee
                      </h5>
                      <p class="card-text">
                        xem nhanh chứ xoá giờ tinhyeu.shop
                      </p>
                      <a
                        class="btn btn-primary"
                        href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
                        id="new7"
                        >Xem</a
                      >
                    </div>
                    <div class="card">
                      <a
                        href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
                        ><img
                          class="card-img-top"
                          src="https://xx.javvn.org/thumb/426x240/upload/2023/10/94c11ff15477fc816a7900544aab9c97.jpeg"
                          alt="Error1"
                          id="imgxemm"
                          height="193"
                          width="144"
                      /></a>
                      <div class="card-body">
                        <h5 class="card-title">
                          Thấy con trai buồn mẹ nhanh trí bú cặc cho con trai
                        </h5>
                        <p class="card-text">
                          xem nhanh chứ xoá giờ tinhyeu.shop
                        </p>
                        <a
                          class="btn btn-primary"
                          href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
                          id="new8"
                          >Xem</a
                        >
                      </div>
                      <div class="card">
                        <a
                          href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
                          ><img
                            class="card-img-top"
                            src="https://xx.javvn.org/thumb/426x240/upload/2023/10/e4d0a102a371e60dca7da12e51ee342a.jpeg"
                            alt="Error1"
                            id="imgxemm"
                            height="193"
                            width="144"
                        /></a>
                        <div class="card-body">
                          <h5 class="card-title">
                            Phang em gái đẹp ngực to lồn đẹp khít rịt cho anh em
                          </h5>
                          <p class="card-text">
                            xem nhanh chứ xoá giờ tinhyeu.shop
                          </p>
                          <a
                            class="btn btn-primary"
                            href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
                            id="new9"
                            >Xem</a
                          >
                        </div>
                        <div class="card">
                          <a
                            href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
                            ><img
                              class="card-img-top"
                              src="https://xx.javvn.org/thumb/426x240/upload/2023/10/06ea515d11377a6d6f5d4ea9bd2ae8ef.jpeg"
                              alt="Error1"
                              id="imgxemm"
                              height="193"
                              width="144"
                          /></a>
                          <div class="card-body">
                            <h5 class="card-title">
                              Em vt xinh như hoa hâu móc bướm tự sử nhìn sáng cả
                              mắt
                            </h5>
                            <p class="card-text">
                              xem nhanh chứ xoá giờ tinhyeu.shop
                            </p>
                            <a
                              class="btn btn-primary"
                              href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
                              id="new10"
                              >Xem</a
                            >
                          </div>
                          <div class="card">
                            <a
                              href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
                              ><img
                                class="card-img-top"
                                src="https://xx.javvn.org/thumb/426x240/upload/2023/10/8b98d58b3e1ddef6f94389848ecee614.jpeg"
                                alt="Error1"
                                id="imgxemm"
                                height="193"
                                width="144"
                            /></a>
                            <div class="card-body">
                              <h5 class="card-title">
                                Em gái vạch bướm ra cho đại gia húp
                              </h5>
                              <p class="card-text">
                                xem nhanh chứ xoá giờ tinhyeu.shop
                              </p>
                              <a
                                class="btn btn-primary"
                                href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
                                id="new11"
                                >Xem</a
                              >
                            </div>
                            <div class="card">
                              <a
                                href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
                                ><img
                                  class="card-img-top"
                                  src="https://xx.javvn.org/thumb/426x240/upload/2023/10/c22707953176f701e4989a4416487cfd.jpeg"
                                  alt="Error1"
                                  id="imgxemm"
                                  height="193"
                                  width="144"
                              /></a>
                              <div class="card-body">
                                <h5 class="card-title">
                                  Phang nát lồn em gái có vú cực đẹp cho anh em
                                </h5>
                                <p class="card-text">
                                  xem nhanh chứ xoá giờ tinhyeu.shop
                                </p>
                                <a
                                  class="btn btn-primary"
                                  href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
                                  id="new12"
                                  >Xem</a
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                        <br />
                        <br />
                        <nav
                          aria-label="Page navigation example"
                          style="display: flex; justify-content: center"
                        >
                          <ul class="pagination">
                            <li class="page-item">
                              <a
                                class="page-link"
                                href="https://tinhyeu.pythonanywhere.com/tab5/"
                                >Trước</a
                              >
                            </li>
                            <li class="page-item">
                              <a
                                class="page-link"
                                href="https://tinhyeu.pythonanywhere.com/tab5/"
                                >4</a
                              >
                            </li>
                            <li class="page-item">
                              <a
                                class="page-link"
                                href="https://tinhyeu.pythonanywhere.com/tab5/"
                                >5</a
                              >
                            </li>
                            <li class="page-item">
                              <a
                                class="page-link"
                                href="https://tinhyeu.pythonanywhere.com/tab6/"
                                >6</a
                              >
                            </li>
                            <li class="page-item">
                              <a
                                class="page-link"
                                href="https://tinhyeu.pythonanywhere.com/tab7/"
                                >Sau</a
                              >
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      document.getElementById("new1").onclick = function () {
        window.open("https://tinhyeu.pythonanywhere.com/tab5/video1", "_blank");
      };
      document.getElementById("imgxemm").onclick = function () {
        window.open("http://tinhyeu.pythonanywhere.com/video18/", "_blank");
      };
      document.getElementById("new2").onclick = function () {
        window.open("https://tinhyeu.pythonanywhere.com/tab5/video2", "_blank");
      };
      document.getElementById("new3").onclick = function () {
        window.open("https://tinhyeu.pythonanywhere.com/tab5/video3", "_blank");
      };
      document.getElementById("new4").onclick = function () {
        window.open("https://tinhyeu.pythonanywhere.com/tab5/video4", "_blank");
      };
      document.getElementById("new5").onclick = function () {
        window.open("https://tinhyeu.pythonanywhere.com/tab5/video5", "_blank");
      };
      document.getElementById("new6").onclick = function () {
        window.open("https://tinhyeu.pythonanywhere.com/tab5/video6", "_blank");
      };
      document.getElementById("new7").onclick = function () {
        window.open("https://tinhyeu.pythonanywhere.com/tab5/video7", "_blank");
      };
      document.getElementById("new8").onclick = function () {
        window.open("https://tinhyeu.pythonanywhere.com/tab5/video8", "_blank");
      };
      document.getElementById("new9").onclick = function () {
        window.open("https://tinhyeu.pythonanywhere.com/tab5/video9", "_blank");
      };
      document.getElementById("new10").onclick = function () {
        window.open(
          "https://tinhyeu.pythonanywhere.com/tab5/video10",
          "_blank"
        );
      };
      document.getElementById("new11").onclick = function () {
        window.open(
          "https://tinhyeu.pythonanywhere.com/tab5/video11",
          "_blank"
        );
      };

      document.getElementById("new12").onclick = function () {
        window.open(
          "https://tinhyeu.pythonanywhere.com/tab5/video12",
          "_blank"
        );
      };
    </script>
  </body>
</html>
<br />
<br />
<br />
<br />
<br />
<br /><br />
<br /><br />
<br />
<br />
<br />
<br />
<br />
{% endblock video_content %}
