{% extends 'app/index.html' %} {% load static %} {% block video_content %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phần 2 video sex</title>
    <style>
      .card-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 50px;
      }
      hr{
        color: #cacaca;
      }
      .card {
        width: 100px;
        background-color: rgb(0, 0, 0);
        margin: 2px;
        transition: transform 0.8s ease, background-color 0.4s ease;
      }
      .card:hover{
        transform: translateY(-15px);
        background-color: #2196f3;
      }
      .card img {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        margin-bottom: 5px;
      }
      .content {
        padding: 3px;
        color: #ffffff;
      }
      .content h2{
        font-size: 8px;
        margin-bottom: 2px;}
      .content p{
        font-size: 6px;
        margin-bottom: 5px;
      }
      .content a{
        text-decoration: none;
        font-size: 10px;
        display: inline-block;
        padding: 5px 10px;
        background-color: #f34f4f;
        color: rgb(243, 242, 242);
        margin-bottom: 5px;
      }
    </style>
  </head>
  <body>
    <div class="card-container">
      <!--video 1-->
      <div class="card" id="new1">
        <a
          href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
          ><img
            src="https://i0.wp.com/xemcliphot.com/public/upload/1715655462_946c9f4488878cd4045d.jpg"
            alt="Error1"
            id="imgxemm"
        /></a>
        <div class="content">
          <h2>
            Chơi em họ mới lớn cực khít bắn vào trong
          <h2>
          <p > sex xem nhanh chứ xoá clip sex </p>
          <a
            class="btn btn-primary"
            href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
            >Xem</a
          >
        </div>
      </div>
      <!--video 2-->
      <div class="card" id="new2">
        <a
          href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
          ><img
            src="https://i0.wp.com/xemcliphot.com/public/upload/1715655525_5a90fa74e3428e90158a.jpg"
            alt="Error1"
            id="imgxemm"
        /></a>
        <div class="content">
          <h2>
            Phan con hàng cực ngon đét với pha ngậm cu cực đã 
          <h2>
          <p >sex xem nhanh chứ xoá clip sex </p>
          <a
            class="btn btn-primary"
            href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
            >Xem</a
          >
        </div>
      </div>
      <!--video 3-->
      <div class="card" id="new3">
        <a
          href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
          ><img
            src="https://i0.wp.com/xemcliphot.com/public/upload/1715565967_c1428e39e2e30245e48c.jpg"
            alt="Error1"
            id="imgxemm"
        /></a>
        <div class="content">
          <h2>
            Doggy em lồn đẹp hàng tuyển
          <h2>
          <p >sex xem nhanh chứ xoá clip sex </p>
          <a
            class="btn btn-primary"
            href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
            >Xem</a
          >
        </div>
      </div>
      <!--video 4-->
      <div class="card" id="new4">
        <a
          href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
          ><img
            src="https://i0.wp.com/xemcliphot.com/public/upload/1715490345_1d64b4aaa2c453efb56f.jpg"
            alt="Error1"
            id="imgxemm"
        /></a>
        <div class="content">
          <h2>
            Vú mới nhú bướm non được anh trai chăm sóc 
          <h2>
          <p >sex xem nhanh chứ xoá clip sex </p>
          <a
            class="btn btn-primary"
            href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
            >Xem</a
          >
        </div>
      </div>
      <!--video 5-->
      <div class="card" id="new5">
        <a
          href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
          ><img
            src="https://i0.wp.com/xemcliphot.com/public/upload/1715448052_e8f632dd9f04cbc4adcc.jpg"
            alt="Error1"
            id="imgxemm"
        /></a>
        <div class="content">
          <h2>
            Bú cặc bác để thoải mãn rồi đè ra địt em rên cực đã 
          <h2>
          <p >sex xem nhanh chứ xoá clip sex </p>
          <a
            class="btn btn-primary"
            href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
            >Xem</a
          >
        </div>
      </div>
      <!--video 6-->
      <div class="card" id="new6">
        <a
          href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
          ><img
            src="https://i0.wp.com/xemcliphot.com/public/upload/1715306893_54fd164591f5838b0b52.jpg"
            alt="Error1"
            id="imgxemm"
        /></a>
        <div class="content">
          <h2>
            Chích người yêu doggy tập gym với tư thế doggy 
          <h2>
          <p >sex xem nhanh chứ xoá clip sex </p>
          <a
            class="btn btn-primary"
            href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
            >Xem</a
          >
        </div>
      </div>
      <!--video 7-->
      <div class="card" id="new7">
        <a
          href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
          ><img
            src="https://i0.wp.com/xemcliphot.com/public/upload/1715242250_3d0c9b78a518e73e55b9.jpg"
            alt="Error1"
            id="imgxemm"
        /></a>
        <div class="content">
          <h2>
            Doggy em Gái nứng ngồi trên ghế tình yêu cực nứng với em 2k 
          <h2>
          <p >sex xem nhanh chứ xoá clip sex </p>
          <a
            class="btn btn-primary"
            href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
            >Xem</a
          >
        </div>
      </div>
      <!--video 8-->
      <div class="card" id="new8">
        <a
          href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
          ><img
            src="https://i0.wp.com/xemcliphot.com/public/upload/1715242143_e0f7b55437af483c8fce.jpg"
            alt="Error1"
            id="imgxemm"
        /></a>
        <div class="content">
          <h2>
            Địt em gái cực phẩm trước gương nhún mạnh lên em 
          <h2>
          <p >sex xem nhanh chứ xoá clip sex </p>
          <a
            class="btn btn-primary"
            href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
            >Xem</a
          >
        </div>
      </div>
      <!--video 9-->
      <div class="card" id="new9">
        <a
          href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
          ><img
            src="https://i0.wp.com/xemcliphot.com/public/upload/1715136312_c82378eaa29bf93dd57c.jpg"
            alt="Error1"
            id="imgxemm"
        /></a>
        <div class="content">
          <h2>
            Doggy em Thảo học dược sướng phê sinh viên khít quá  
          <h2>
          <p >sex xem nhanh chứ xoá clip sex </p>
          <a
            class="btn btn-primary"
            href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
            >Xem</a
          >
        </div>
      </div>
      <!--video 10-->
      <div class="card" id="new10">
        <a
          href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
          ><img
            src="https://i0.wp.com/xemcliphot.com/public/upload/1715037940_b2e441a8df0e4081a32b.webp"
            alt="Error1"
            id="imgxemm"
        /></a>
        <div class="content">
          <h2>
            Vú to Lồn trắng đẹp địt sướng bắn vào trong  
          <h2>
          <p >sex xem nhanh chứ xoá clip sex </p>
          <a
            class="btn btn-primary"
            href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
            >Xem</a
          >
        </div>
      </div>
      <!--video 11-->
      <div class="card" id="new11">
        <a
          href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
          ><img
            src="https://i0.wp.com/xemcliphot.com/public/upload/1714967004_6b7e0c10e05501e9081b.jpg"
            alt="Error1"
            id="imgxemm"
        /></a>
        <div class="content">
          <h2>
            Địt em Nước bắn tung té cực phê Em sướng quá 
          <h2>
          <p >sex xem nhanh chứ xoá clip sex </p>
          <a
            class="btn btn-primary"
            href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
            >Xem</a
          >
        </div>
      </div>
      <!--video 12-->
      <div class="card" id="new12">
        <a
          href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
          ><img
            src="https://i0.wp.com/xemcliphot.com/public/upload/1714966925_856bad21bfba4d77dd89.jpg"
            alt="Error1"
            id="imgxemm"
        /></a>
        <div class="content">
          <h2>
            Ngoan với thầy nhé em học sinh Full clip chơi với em học sinh  
          <h2>
          <p >sex xem nhanh chứ xoá clip sex </p>
          <a
            class="btn btn-primary"
            href="https://midgerelativelyhoax.com/jryc3scma?key=80851b53fa22d7955e81380834d3e616"
            >Xem</a
          >
        </div>
      </div>
    <div>
    <br />
    <hr>
    <br />
    <div>
      <nav
        aria-label="Page navigation example"
        style="display: flex; justify-content: center"
      >
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="http://tinhyeu.pythonanywhere.com/video18/">Trước</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="https://tinhyeu.pythonanywhere.com/">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="https://tinhyeu.pythonanywhere.com/tab2/">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="https://tinhyeu.pythonanywhere.com/tab3/">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="https://tinhyeu.pythonanywhere.com/tab4/">Sau</a>
          </li>
        </ul>
      </nav>
    </div>
    <script>
      document.getElementById("new1").onclick = function () {
        window.open("https://tinhyeu.pythonanywhere.com/video1", "_blank");
      };
      document.getElementById("imgxemm").onclick = function () {
        window.open("http://tinhyeu.pythonanywhere.com/video18/", "_blank");
      };
      document.getElementById("new2").onclick = function () {
        window.open("https://tinhyeu.pythonanywhere.com/video2", "_blank");
      };
      document.getElementById("new3").onclick = function () {
        window.open("https://tinhyeu.pythonanywhere.com/video3", "_blank");
      };
      document.getElementById("new4").onclick = function () {
        window.open("https://tinhyeu.pythonanywhere.com/video4", "_blank");
      };
      document.getElementById("new5").onclick = function () {
        window.open("https://tinhyeu.pythonanywhere.com/video5", "_blank");
      };
      document.getElementById("new6").onclick = function () {
        window.open("https://tinhyeu.pythonanywhere.com/video6", "_blank");
      };
      document.getElementById("new7").onclick = function () {
        window.open("https://tinhyeu.pythonanywhere.com/video7", "_blank");
      };
      document.getElementById("new8").onclick = function () {
        window.open("https://tinhyeu.pythonanywhere.com/video8", "_blank");
      };
      document.getElementById("new9").onclick = function () {
        window.open("https://tinhyeu.pythonanywhere.com/video9", "_blank");
      };
      document.getElementById("new10").onclick = function () {
        window.open("https://tinhyeu.pythonanywhere.com/video10", "_blank");
      };
      document.getElementById("new11").onclick = function () {
        window.open("https://tinhyeu.pythonanywhere.com/video11", "_blank");
      };

      document.getElementById("new12").onclick = function () {
        window.open("https://tinhyeu.pythonanywhere.com/video12", "_blank");
      };
    </script>
  </body>
</html>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

{% endblock video_content %}
